   @import "var.css";
@import "tabsbar/tabsbar.css";
@import "toolbar/navbar.css";
@import "toolbar/bookmark.css";
@import "popup/popup.css";
@import "toolbar/urlbar.css";
@import "findbar/findbar.css";

  .tab-background {
   border-radius: 2px 2px !important;
   margin-bottom: 2px !important;
 }

 .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
   background-color: color-mix(in srgb, currentColor 50%, transparent);
 }

 menupopup>menu,
 menupopup>menuitem {
   padding-block: 2px !important;
 }

 :root {
   --arrowpanel-menuitem-padding: 2px !important;
