   @import "var.css";
@import "tabsbar/tabsbar.css";
@import "toolbar/navbar.css";
@import "toolbar/bookmark.css";
@import "popup/popup.css";
@import "toolbar/urlbar.css";
@import "findbar/findbar.css";
@import "non_floating_sharp_tabs.css";
@import "photon_tab_separators.css";
@import "iconized_main_menu.css";
@import "tighten_up_menus.css";
@import "playing_icon.css"

/*AGENT_SHEET*/

/* Base Theme */
@import url(./css/base.css);

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Base Tags Theme */
@import url(./css/tags.css);

/* Pages */
@import url(./css/pagesChrome.css);

/* Icons */
@import url(./css/icons.css);

/* Colors */
/* Dark */
@import url(./css/colors/tags-dark.css);
@import url(./css/colors/context-dark.css);
@import url(./css/colors/base-dark.css);
@import url(./css/colors/pagesChrome-dark.css);

/* Light */
@import url(./css/colors/tags-light.css);
@import url(./css/colors/context-light.css);
@import url(./css/colors/base-light.css);
@import url(./css/colors/pagesChrome-light.css);

/*
@supports -moz-bool-pref("pref.here") {
*/

/* Custom CSS for userChrome.css */
@import url(./customChrome.css);

#urlbar:focus-within > #urlbar-background {
    border-color: -moz-accent-color !important;
    border-width: 1px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  /* Disable gap between the last pinned tab and the first visible tab */
  margin-inline-start: 0 !important;
}

/* No need, can be set with browser.tabs.tabMinWidth
 * ref: https://support.mozilla.org/en-US/questions/1253108
#tabbrowser-tabs {
  --tab-min-width: 76px;
}
*/

/* Disable tab label mask on hover */
.tabbrowser-tab[visuallyselected=true]:hover,
#tabbrowser-tabs:not([closebuttons=activetab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected=true]):hover {
  --tab-label-mask-size: 0 !important;
}

/* Disable tab label mask
 * Proton default value = 2em
 * This is a tweak. Photo does contain this mask.
 */
.tabbrowser-tab {
  --tab-label-mask-size: 0 !important;
}

:root {
  --tab-min-height: 33px !important;
  --tabs-border-color: rgba(0,0,0,.3);
  --tabs-navbar-shadow-size: 1px;
}

  .tab-background {
   border-radius: 2px 2px !important;
   margin-bottom: 2px !important;
 }

 .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
   background-color: color-mix(in srgb, currentColor 50%, transparent);
 }

 menupopup>menu,
 menupopup>menuitem {
   padding-block: 2px !important;
 }

 :root {
   --arrowpanel-menuitem-padding: 2px !important;
 }
